*{padding:0; margin:0;}
a{
    color:inherit; 
    text-decoration:none;
}
li{
    list-style:none;
}
.wrap{
    width:320px;
}
h1{
    height: 45px;
}
.logo{
    width:35px;
    height:35px;
    background-image: url(../img/logo.gif);
    /* display:block; */
    background-position: center;
    background-size:contain;
    background-repeat:no-repeat;
    margin : 10px;
}
.icon{
    float: left;
    margin-right: 25px;
}
.icons:after{
    content:"";
    clear:both; 
    display:block;
}
.i1{
    width:25px;
    height:40px;
    background-image: url(../img/icon_sc.png);
    background-position: center;
    background-size:contain;
    background-repeat:no-repeat;
    /* color:#121212; */
}
.i2{
    width:25px;
    height:40px;
    background-image: url(../img/icon_menu.jpg);
    background-position: center;
    background-size:contain;
    background-repeat:no-repeat;
}
h1{
    position: relative;
}
.icons{
    position: absolute;
    top:0px;
    right:0px;
}
.mv{
    width: 320px;
    height: 490px;
    background-image: url(../img/mv01.jpg);
    /* display:block; */
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    margin-bottom: 10px;
    /* 마진 컬러는 어떻게 주나용?? */
}
/* ////////////////여기까지 헤더////////////////// */
content{
    padding:20px 5px;
    margin-bottom: 10px;
    /* 마진 컬러는 어떻게 주나용?? */
}
h2{
    width: 320px;
    height: 20px;
    font-size: 16.8px;
    color:#333333;
    margin-left:10px;
    margin-bottom:20px;
}
.item{
    float: left;
    width: 140px;
    height: 217px;
    margin:5px;
    border:solid 1px #999999;
}
section:after{
    content:"";
    clear:both; 
    display:block;
}
/*  */
.img1{
    width: 140px;
    height: 146.22px;
    background-image: url(../img/item01.jpg);
    /* background-position: center; */
    background-size:contain;
    background-repeat:no-repeat;
}
.img2{
    width: 140px;
    height: 146.22px;
    background-image: url(../img/item02.jpg);
    /* background-position: center; */
    background-size:contain;
    background-repeat:no-repeat;
}
.img3{
    width: 140px;
    height: 146.22px;
    background-image: url(../img/item03.jpg);
    /* background-position: center; */
    background-size:contain;
    background-repeat:no-repeat;
}
.img4{
    width: 140px;
    height: 146.22px;
    background-image: url(../img/item04.jpg);
    /* background-position: center; */
    background-size:contain;
    background-repeat:no-repeat;
}
.img5{
    width: 140px;
    height: 146.22px;
    background-image: url(../img/item05.jpg);
    /* background-position: center; */
    background-size:contain;
    background-repeat:no-repeat;
}
.img6{
    width: 140px;
    height: 146.22px;
    background-image: url(../img/item06.jpg);
    /* background-position: center; */
    background-size:contain;
    background-repeat:no-repeat;
}
/*  */
.text{
    width: 140px;
    height: 70px;
    padding: 15px 10px;
}
p{
    font:14px;
}
.text p:first-child{
    color:#333333;
}
.text p:last-child{
    color:#999999;
}
/* ///////////////////////////////////// */





