@charset "utf-8"; /* CSS Document */ 
*{
    padding:0;
    margin:0;
}

a{
    color:inherit;
}

#wrap{
    width:320px;}

header{
    height: 50px;
    position: relative;
    background-color:#fff;
    
}

header h1{
    display:block;
    height: 50px;
    font-size:0;
    background-image: url(../img/logo.gif);
    background-repeat: no-repeat;
    background-size: 30px auto;
    background-position: 10px center;
    
}

header p{
    font-size:0;
}



header .icon .openMenu a{
    display: block;
    background-image: url(../img/icon_menu.jpg);
    background-repeat: no-repeat;
   width:30px;
    height:50px;
    background-size:25px auto;
    background-position: 0 center;
}

header .icon .openSearch a{
    display: block;
    background-image: url(../img/icon_sc.png);
    background-repeat: no-repeat;
    width:30px;
    height:50px;
    background-size:25px auto;
    background-position: 0 center;
    
}

header .icon{
    position: absolute;
    right:0;
    top:0;
}

header .icon p{
    float:left;
    margin-right: 20px;
    
}

/* header */

.mainVisual img{ 
    width:320px;
}

section{
    border-bottom:10px solid #ccc;
}

/* mainVisual */

.mainBox{
    padding-top:20px;
    padding-bottom:20px;
}

.mainBox h2{
    font-size:1.2em;
    color:#333;
    margin-bottom:20px;
    margin-left:10px;
}


/* mainBox */

.new{
    padding-right:5px;
    padding-left:5px;
}

.new .items .row:after{
    display: block;
    clear:both;
    content:'';
}

.new .items .item{
    width:140px;
    height: 215px;
    float:left;
    border:1px solid #ddd;
    margin: 5px 5px;
}

.new .items .item img{
    width:140px;
}

.new .item .itemtxt{
    padding: 15px 10px;
    
}
.new .item .itemtxt .name{
    color:#333;
}

.new .item .itemtxt .eng{
    color:#999;
}

/* new */

.notice{
    position: relative;
}

.notice .more{
    display: block;
    width:20px;
    font-size:0;
    background-image: url(../img/more.png);
    background-repeat: no-repeat;
    background-size: 15px auto;
    position: absolute;
    top:20px;
    right:15px;
}

.notice ul{
    width:300px;
    margin:0 auto;
}

.notice ul li{
    font-size:0.8em;
    border-bottom: 1px dotted #ccc;
    padding-bottom:5px;
    padding-top:5px;
}

.notice ul li:first-child{
    border-top: 1px dotted #ccc;
}





